#Conteudo {
    background: #fb7676;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
}

.btn {
    background: rgb(39, 26, 26); /* Cor de fundo dos botões */
    color: white;
    padding: 5px 10px; /* Espaçamento interno dos botões */
    margin: 5px; /* Margem entre os botões */
    border: 5px; /* Remover borda */
    cursor: pointer; /* Mudar cursor ao passar sobre o botão */
}
